*{
    margin: 0px;
    padding: 0px;
}



:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}
body{
    background-color: var(--yellow);
}
main{
    background-color: var(--white);
    width: 85%;
    margin: auto;
    border-radius: 15px;
    height: 501px;
    margin-top: 75px;
    border: 1px solid var(--black);
    box-shadow: 10px 10px var(--black);
}
.img-container{
    text-align: center;
}
.img-container > img {
    width: 90%;
    margin-top: 25px;
    border-radius: 15px;
}
.text-container {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.yellow-box{
    background-color: var(--yellow);
    height: 26px;
    width: 25%;
    border-radius: 5px;
}
.box{
    color: var(--black);
    font-size: 12px;
    text-align: center;
    padding-top: 6px;
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.date{
    color: var(--black);
    margin-top: 20px;
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;

}
h1{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
      
}
.para{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: var(--grey);
    margin-top: 15px;
    line-height: 22px;

}
.author-container{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.avatar{
    height: 32px;
    font-size: 12px;
    margin-right: 10px;

}
.author{
    padding-top: 6px;
}
.attribution{
    margin-top: 60px;
}